[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
django-recaptcha = "*"
python-dotenv = "*"
python-decouple = "*"
django-csp = "*"

[dev-packages]

[requires]
python_version = "3.12"
