<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'bg/elemento.ico' %}">
    {% include 'head/css.html' %}

    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lc-sh4pAAAAALIv3Hk_RFqvxyFe0-3cfK97z8nU" async defer></script>

    {% block stylesheets %}
    {% endblock %}
    <style>
        /* Agrega estilos personalizados si es necesario */
        body {
          margin: 0;
          padding: 0;
        }
        .fixed-btn {
          position: fixed;
          bottom: 20px;
          right: 20px;
        }
      </style>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>

    <div class="container">
        {% block content %}
    
        {% endblock %}
    </div>


    <a class="btn bg-white fixed-btn" href="#" style="border-radius: 50%; border: #6c757d 1px solid; ">
        <span class="bi bi-arrow-up">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5m-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5" />
            </svg>
        </span> <!-- Cambia 'fa-arrow-right' al icono que desees -->
    </a>
</body>
{% include 'head/js.html' %}
</html>